name: Deploy to Production

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to sporttia-zero
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 34.22.147.236
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_SSH_KEY }}
          script: |
            sporttia-deploy master
